[v-cloak] {
  display: nene;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.page-item.active > .page-link {
  background-color: #212529;
  color: #fff;
}

.page-link {
  color: #212529;
}
