<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.cart-mapper">
	<insert id="insert">
		INSERT INTO cartitems
		(cart_item_id, user_id, product_id, quantity)
		VALUES(#{cartItemId}, #{userId}, #{productId}, #{quantity})
	</insert>
	
	<select id="list" resultType="org.yami.cart.dto.CartItem">
		SELECT
			c.cart_item_id,
			c.user_id,
			c.product_id,
			c.quantity,
			p.name,
			p.price
		FROM
			cartitems c LEFT OUTER JOIN
			products p ON c.product_id=p.product_id
		WHERE user_id=#{userId} 

	</select>
	
	<delete id="delete">
		DELETE FROM cartitems
		WHERE cart_item_id=#{cartItemId}
	</delete>
	
	<update id="update">
		UPDATE cartitems
		SET quantity=#{quantity}
		WHERE cart_item_id=#{cartItemId}
	</update>
	
	<select id="checkCart" resultType="org.yami.cart.dto.CartItem">
		SELECT * FROM cartitems
		WHERE user_id=#{userId} AND product_id=#{productId}
	</select>
	
	<delete id="deleteAll">
		DELETE FROM cartitems WHERE user_id=#{userId} AND product_id=#{productId}
	</delete>
</mapper>