<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PaymentMapper">	
	<resultMap id="paymentMap" type="Payment">
		<result column="payment_id" property="paymentId" />
		<result column="order_id" property="orderId" />
		<result column="imp_uid" property="impUid" />
		<result column="pay_method" property="payMethod" />
        <result column="buyer_email" property="buyerEmail" />
        <result column="buyer_name" property="buyerName" />
		<result column="buyer_tel" property="buyerTel" />
		<result column="buyer_postcode" property="buyerPostcode" />
		<result column="buyer_address1" property="buyerAddress1" />
		<result column="buyer_address2" property="buyerAddress2" />
		<result column="receipt_url" property="receiptUrl" />
		<result column="total_price" property="totalPrice" />
		<result column="updated_at" property="updatedAt" />
		<result column="created_at" property="createdAt" />		
	</resultMap>

	<select id="findPaymentByOrderId" resultMap="paymentMap">
		SELECT *
        FROM payments
        WHERE order_id = #{orderId}
	</select>
</mapper>