<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductMapper">
    <resultMap id="productMap" type="Product">
        <result column="product_id" property="productId" />
        <result column="category_id" property="categoryId" />
        <result column="category_name" property="categoryName" />
        <result column="name" property="name" />
        <result column="image_url" property="imageUrl" />
        <result column="summary" property="summary" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

	<select id="getList" parameterType="String" resultMap="productMap">
        SELECT p.*, c.name AS category_name
        FROM products p
        JOIN categories c
        ON p.category_id = c.category_id
        WHERE p.category_id= #{categoryId}
        ORDER BY p.name ASC;
	</select>

    <select id="findProducts" parameterType="String" resultMap="productMap">
        SELECT p.*, c.name AS category_name
        FROM products p
        JOIN categories c
        ON p.category_id = c.category_id
        WHERE p.name like '%'||#{find}||'%'
        ORDER BY p.name ASC;
	</select>

    <insert id="saveProduct">
        INSERT INTO products(product_id, category_id, name, price, summary, image_url)
        VALUES(#{productId}, #{categoryId}, #{name}, #{price}, #{summary}, #{imageUrl})
    </insert>
</mapper>